body {
  background: #c3bcbc2e;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.App > .btnStyle {
  display: flex;
  flex-direction: row;
  width: 120px;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
  border: 3px solid gray;
}

.App > .btnStyle > button {
  background: gray;
  height: 100%;
  border: none;
  width: 60px;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.App > .btnStyle > p {
  font-weight: 900;
  font-size: 16px;
}
